.collection-page {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;

  .title {
    font-size: 38px;
    text-align: center;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    @media screen and (max-width: 800px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
    }

    & .collection-item {
      margin-bottom: 30px;
    }
  }
}
