.sign-in-and-sign-up{
    display: flex;
    width: 850px;
    margin: 30px auto;
    justify-content: space-between;

    @media screen and (max-width : 400px) {
        display: flex;
        flex-direction: column;
        width: 300px;
        // justify-content: center;
        margin: 5px;
        
    }
}